#plotly-container .plotly-card {
    min-width: 450px;
    width: fit-content;
    max-width: 950px;
    max-height: 90vh;
    overflow-y: auto;
}

#plotly-container .plotly-body {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.plot {
    width: 450px;
    height: 300px;
}

.plot.hidden {
    display: none;
}