#plotly-container .plotly-card {
    height: 90vh;
    min-width: 450px !important;
    width: 65% !important;
    max-width: none !important;
    overflow-y: hidden;
}

#plotly-container .plotly-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.plot {
    height: 44vh;
}