#table-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
}

#table {
    flex: 1;
    min-height: 0;
}

#column-toggle-container {
    display: flex;
    justify-content: right;
    padding-right: 1ch;
}

.column-toggle {
    font-size: 0.9em;
    color: var(--light-blue);
    cursor: pointer;
    user-select: none;
}

.column-toggle.hidden {
    color: var(--light-gray);
}

.column-toggle:not(:first-child)::before {
    content: "|";
    padding-left: 0.5em;
    padding-right: 0.5em;
    color: var(--black);
}

.tabulator .tabulator-footer .tabulator-page.active {
    color: var(--black) !important;
    background: var(--light-gray) !important;
}

.tabulator-row.tabulator-selected {
    background-color: #d4e6f1;
    color: #000;
}