@import url("css/navbar.css");
@import url("css/sidebar.css");
@import url("css/table.css");
@import url("tabulator-tables/dist/css/tabulator.min.css");
@import url("css/search.css");
@import url("css/modal.css");
@import url('css/button.css');
@import url("css/login.css");
@import url("css/plotly.css");
@import url("css/rowActionBtns.css");

:root {
    --black: #000;
    --light-blue: rgb(13, 110, 253);
    --light-gray: #ccc;
    --dark-gray: #dddddd4a;
    --red: #dc3545;
    --line-height: 1.6rem;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    line-height: var(--line-height);
}

#main {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

#app-body {
    flex: 1;
    display: flex;
    min-height: 0;
    width: 100%;
}